packages
Templates/BasicAspNetCore/Properties/launchSettings.json
Templates/StaticWebsite/Properties/launchSettings.json
template-report.xml
project.lock.json
node_modules
npm-debug.log
dist

# User files
*.suo
*.user
*.sln.docstates
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/