@{
    ViewData["Title"] = "About Page";
    ViewData["Description"] = "The about page of my website";
}

<p>This is the about.cshtml</p>

@section Scripts {
    @*Insert any script tags for this page here*@
}