@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "The home page of my website";
}

<p>This is the index.cshtml</p>

@section Scripts {
    @*Insert any script tags for this page here*@
}